@page "/"
@using Canteen.Services.Enumerations;
@attribute [Authorize(Roles = "Admin, Kantinemedarbjeder")]


<PageTitle>Home</PageTitle>
<div class="row mt-10 mb-10 container-fluid">
	<RadzenTabs Style="background-color: white" TabPosition="TabPosition.Top" class="col-12 mb-10 rz-shadow-6">
		<Tabs>
			<RadzenTabsItem Text="@_languageTable[((WeekDayEnum)1).ToString()]">
				<CascadingValue Value="1">
					<MenuTemplate></MenuTemplate>
				</CascadingValue>
			</RadzenTabsItem>
			<RadzenTabsItem Text="@_languageTable[((WeekDayEnum)2).ToString()]">
				<CascadingValue Value="2">
					<MenuTemplate></MenuTemplate>
				</CascadingValue>
			</RadzenTabsItem>
			<RadzenTabsItem Text="@_languageTable[((WeekDayEnum)3).ToString()]">
				<CascadingValue Value="3">
					<MenuTemplate></MenuTemplate>
				</CascadingValue>
			</RadzenTabsItem>
			<RadzenTabsItem Text="@_languageTable[((WeekDayEnum)4).ToString()]">
				<CascadingValue Value="4">
					<MenuTemplate></MenuTemplate>
				</CascadingValue>
			</RadzenTabsItem>
			<RadzenTabsItem Text="@_languageTable[((WeekDayEnum)5).ToString()]">
				<CascadingValue Value="5">
					<MenuTemplate></MenuTemplate>
				</CascadingValue>
			</RadzenTabsItem>
		</Tabs>
	</RadzenTabs>
</div>